.custom-placeholder {
    background-color: #202130 !important;
    color: white !important;
  }
  
  .custom-placeholder::placeholder {
    color: white !important;
    opacity: 1; /* تأكيد وضوح اللون */
  }
  
  .dropdown-custom {
    background-color: #202130 !important;
    color: white !important;
    border: none;
  }
  
  .custom-button {
    background-image: linear-gradient(to right, #F4CFAB, #8E7864);
    border: none;
    color: white !important;
  }
  