.login-container {
  background: linear-gradient(
    135deg,
    #c79c68 10%,
    #111e2e 14%,
    #111e31 84%,
    #c79c68 90%
  );

  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #202130;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #2575fc;
  border: none;
}

.btn-primary:hover {
  background-color: #2575fc;
}
/* تغيير لون الـ placeholder إلى الأبيض */
input::placeholder {
  color: white !important;
  opacity: 1;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
